.header{
    width: 260px;
    height: 100vh;
    position: fixed;
}


.list{
    padding: 5.2rem 4.6rem;

    font-family: var(--font-roboto-mono);
    display: flex;
    flex-direction: column;

    list-style: none;

}

.listChild{
    font-size: 3rem;
    color: var(--color-gray-tint);
    margin: 1rem 0;
    transition: color 0.2s, margin 0.3s;

    position: relative;


    &.selected{
        font-size: 3.4rem;
        color: rgb(56, 56, 56);
        margin: 2rem 0;
        padding-left: 1rem;
    }

    &:hover::before{
        width: 100%;
    }
    &::before{
        content: "";
        width: 0;
        height: 1px;
        background-color: var(--color-gray-tone);
        position: absolute;
        bottom: 0;
        transition: all 0.4s;
        pointer-events: none;
    }

    > a{
        display: block;
    }
}