
.article{
    --font-size: 1.8rem;


    height: 100%;
    width: 100%;
    padding: max(2.5%, 8px);
    background-color: var(--btn-idle);

    border-radius: 4px;

    position: relative;
    cursor: pointer;
    &::after{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        mix-blend-mode: multiply;
        background: transparent;
        transition: all 0.3s;
    }

    &:hover{
        &::after{
            visibility: visible;
            opacity: 1;
            background-color: var(--btn-hover);
            
        }
    }
}

.figure{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    user-select: none;
    
    // relative prop for using fill state in next/Image Component
    > div{
    position: relative;
    height: 100%;
        aspect-ratio: 1 / 1;
    }
}

.figcaption{
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    padding-left: max(2.5%, 8px);
    font-size: var(--font-size);
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    > small{
        text-align: right;
    }
}

@media screen and (max-width: 960px){
    
    .article{
        --font-size: 2.52rem;
    }
}

@media screen and (max-width: 460px) {
    .article{
        --font-size: 1.4rem;
    }
}