.warning{
    font-size: 2rem;
    font-family: var(--font-zenkaku-gothic-regular);
    display: grid;
    place-items: center;
}
.list{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: fit-content;
    position: relative;
    > *{
        flex-shrink: 0;
    }
    /*
    &::before, &::after{
        content: "";
        height: 100%;
        width: var(--padding-horizontal-content);
        position: sticky;
        top: 0;
        z-index: 1;
    }

    &::before{
        background: linear-gradient(-90deg, rgba(var(--gradient-background),0) 0%, rgba(var(--gradient-background),0.5) 95%, rgba(var(--gradient-background),1) 100%);
        left: -0rem;
    }

    &::after{
        background: linear-gradient(90deg, rgba(var(--gradient-background),0) 0%, rgba(var(--gradient-background),0.5) 95%, rgba(var(--gradient-background),1) 100%);
        right: -0rem;
    }
    */
}