.wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    &::before{
        content: "";
        height: 100%;
        width: 100%;

        background: var(--btn-idle);
        position: absolute;
        left: 0;
        top: 0;

        opacity: 1;
        visibility: visible;
        z-index: 1;

        transition: all 0.2s;
    }

    &[data-fetched="true"][data-skeleton="true"]{
        &::before{
            opacity: 0;
            visibility: hidden;   
        }
    }

}

.image{
    object-fit: cover;
}