.content{
    
    --border-width: 4px;
    --border-radius: 6px;
    --gap-content: 4rem;

    padding-top: var(--padding-vertical-content);
    padding-left: var(--padding-horizontal-content);
    padding-right: var(--padding-horizontal-content);


    position: relative;
    display: grid;
    gap: var(--gap-content);
    grid-template-columns: 1fr 3fr;

    .info{
        --margin-vertical-slide: 4.6rem;

        margin-top: var(--margin-vertical-slide);
        padding: 0 32px 0 14px;
        border-radius: var(--border-radius) var(--border-radius) 0 0 ;
        background: var(--color-blue-tint);

        display: grid;
        grid-template-rows: max-content 1fr;

        .appendix{
            --elem-radius: 18px;

            &__list{
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 4px;

                color: var(--color-base);
                font-family: var(--font-zenkaku-gothic-bold);
                font-size: 1.2rem;

                &::before{
                    content: "I Speak";
                    color: var(--color-emphasize);
                    font-size: 1.6rem;
                }
                > li{
                    display: grid;
                    place-items: center;
                    height: 2.6rem;
                    background: var(--color-blue-tone);
                    width: fit-content;
                    padding: 0rem 1.2rem;
                    border-radius: var(--elem-radius);
                }
            }
        }
    }
    .introduction{
        --margin-vertical-slide: -12rem;

        position: relative;
        display: grid;
        grid-template-rows: 36rem 1fr;
        gap: var(--gap-content);
        color: var(--color-base);
        font-family: var(--font-zenkaku-gothic-medium);
        transform: translateY(var(--margin-vertical-slide));

        &__content{
            background: var(--color-blue-tint);
            border-radius: var(--border-radius);
            padding: 4rem 4rem;
        }


        
        .navButtons{
            >.button{
            width: fit-content;
            height: 4rem;
            list-style: none;
            overflow: hidden;
            border-radius: var(--border-radius);
            fill: var(--color-blue-vivid);

            }
            figcaption{
                justify-content: flex-end;
            }
            *{
                background: var(--color-blue);
                color: var(--color-blue-vivid) !important;

            }


            &:first-child{
                padding: 0 0.6rem;
            }
        }
    }


    
}

.caption{
    &__name{
        font-size: 2.6rem;
    }
    &__status{
        font-size: 1.4rem;
        padding: 0.4rem 0;
    }
}

.imageButton{
    &__thumbnail{
        mask-image: url("/images/share-from-square-solid.svg");
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: var(--color-blue-vivid) !important;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__caption{
        font-family: var(--font-zenkaku-gothic-bold);
    }
}
