.section{
    position: relative;
    &::before{
        content: "";
        height: min(60dvh, 60dvw);
        aspect-ratio: 1 / 1;
        object-fit: cover;
        background: center/100% url("/images/steakholder.png") no-repeat;
        position: absolute;
        bottom: 0;
        z-index: -1;
        animation: entry 0.6s forwards ease-out;
    }
}

@keyframes entry {
    0%{
        right: -60dvh;
    }
    100%{
        right: -10rem;
    }
}
.content{

    --gap-vertical-content: 4.8rem;
    --gap-horizontal-content: 3.6rem;
    --font-size: 2.8rem;

    padding: var(--padding-vertical-content) var(--padding-horizontal-content);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: var(--gap-vertical-content) var(--gap-horizontal-content);
    width: 96%;
}

.group{

    --gap-vertical-list: 3.2rem;
    --gap-horizontal-list: 3.2rem;
    --height-list: 4.6rem;
    --padding-bottom-title: 1.4rem;

    display: inline-block;
    width: fit-content;
    &__title{
        color: var(--color-main);
        
        display: inline-block;
        font-size: var(--font-size);
        padding-bottom: var(--padding-bottom-title);
        font-family: var(--font-zenkaku-gothic-medium);
    }

    &__link{
        height: var(--height-list);
        list-style: none;
        display: flex;
        gap: var(--gap-vertical-list) var(--gap-horizontal-list);
        padding: 0 8px;
        flex-direction: row;
        font-family: var(--font-zenkaku-gothic-regular);

        >li{
            height: 100%;
        }
        a {
            display: block;
            height: 100%;

            > article{
                background: color-mix(in srgb, var(--background) 70%, transparent) ;

            }
        }

    }
}


@media screen and (max-width: 960px){
    .content{
        --gap-vertical-content: 3.2rem;
        --gap-horizontal-content: 2.6rem;
        --font-size: 3.6rem;

        .group{
            --height-list: 5.6rem;
        }
        
    }
}
@media screen and (max-width: 460px){
    .content{
        --gap-vertical-content: 3rem;
        --gap-horizontal-content: 1.2rem;
        --font-size: 2.6rem;
        flex-direction: column;

        .group{
            --height-list: 4.6rem;
            --padding-bottom-title: 1rem;

            &__link{

                --gap-vertical-list: 2rem;
                flex-wrap: wrap;
                height: fit-content;
                > li{
                    height: var(--height-list);
                }
            }

        }
    }
}
